body    {
    background-color: rgb(214, 214, 209);
    margin: 0;
    padding: 0;
}

.container  {
    background-color: rgb(231, 231, 226);
    width: 95%;
    height: 95%;
    margin: 0 auto;
}

h1  {
    margin:0;
}

.header {
    height: 5%;
}

.header > li> p {
    margin: 0;
    padding: 0;
    align-content: center;
    font: 15px white;
    font-family: Verdana;
}


.header > p {
    margin: 0;
    padding: 0;
    align-content: center;
    font: 15px white;
    font-family: Verdana;
}

/*nav {*/
    /*height: 5%;*/
/*}*/

.menu   {
    margin: 0;
    align-content: right;
    width: 100%;
    padding:0;
    list-style-type: non
}

ul.menu {
    overflow: hidden;
    background-color: #575757;
    /*position: relative;*/
    padding: 0;
    list-style-type: none;
}

ul.menu > li{
    /*float: left;*/
    /*position: relative;*/
    display: inline-flex;
    /*border: 1px solid grey;*/
}

ul.menu > li > a    {
    /*border: 1px solid grey;*/
    display: block;
    text-decoration: none;
    /*padding: 10px 20px;*/
    padding: 8px;
    color: white;
}

ul.menu > li > a:hover    {
    background-color: rgba(0, 0, 0, 0.13);
}

ul.menu > li > p{
    text-align: center;
    font: 15px white;
    font-family: Verdana;
}

.userPanel{
    margin: 0;
    height: 95%;
    padding: 0;
}

.leftContainer{
    width: 14%;
    height: 100%;
    float: left;
    border-right: 1px dashed black;
}

.msgItemsContainer{
    margin-left: 5px;
    margin-right: 0px;
    height: 100%;
    width: 85%;
    float: left;
}
.messagesOrItems{
    margin-bottom: 0;
    margin-right: 5px;
    width: 99%;
    height: 49%;
    border-bottom: 1px solid black;
}

.msgOrItemTopBar{
    height: 28%;
    margin:0;
    padding: 0;
}

.msgOrItemTopBar > h3{
    margin: 5px 0;
}

.msgOrItemTopBarSmall {
    height: 10%;
}

.msgOrItemTopBarSmall > h3 {
    margin: 3px;
}

.msgOrItemList{
    overflow-x: hidden;
    overflow-y: scroll;
    height: 70%;
    margin: 0;
    padding: 0;
}
.itemsAssigned{
    margin-top: 10px;
    height: 45%;
    width: 99%;
    overflow-x: hidden;
    overflow-y: scroll;
}

.itemMsgMenu{
    width: 100%;
    padding:0;
    margin-bottom: 5px;
    border: solid 1px black;
    list-style-type: non
}

ul.itemMsgMenu {
    margin: 5px 0px;
    overflow: hidden;
    /*position: relative;*/
    padding: 0;
    list-style-type: none;
}

ul.itemMsgMenu > li{
    margin:0px;
    /*float: left;*/
    /*position: relative;*/
    display: inline-flex;
    /*border: 1px solid grey;*/
}

ul.itemMsgMenu > li > a    {
    /*border: 1px solid grey;*/
    display: block;
    text-decoration: none;
    /*padding: 10px 20px;*/
    padding: 8px;
    color: black;
}

ul.itemMsgMenu > li > a:hover    {
    background-color: rgb(138, 150, 189);
}

.itemOrMsg{
    margin: 0px;
    list-style-type: none;
    border: outset #2F2F2F;
}

.itemOrMsg > p {
    padding-left: 5px;
    margin-left: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.itemOrMsg > a {
    padding-left: 5px;
    margin-left: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.bar    {
    width: 200px;
    float:left;
}

.maincontent    {
    width: 800px;
    float: left;
}

.foot > p   {
    border: 1px solid black;
}

.foot > aside   {
    width: 240px;
    float: left;
}

.foot > div {
    width: 200px;
}

::-webkit-input-placeholder  {
    color: lightgrey;
}



h3  {
    margin: 0;
    padding: 0;
}

aside > h3  {
    text-align: center;
    border-bottom-style: dashed;
    border-bottom-color: black;
    border-bottom-width: 1px;
}

.barDetails {
    list-style: none;
    padding: 0px 0px;
    margin: 0px;
}

ul.barDetails > li{
    text-align: center;
    padding: 10px 20px;
}

ul.barDetails > li > a{
    text-decoration: none;
    color: black;
}

ul.barDetails > li:hover    {
    background-color: rgba(255,0,0,0.1);
}

input.login  {
    margin-top: 5px;
    margin-left: 5px;
}

button.loginButton  {
    margin-top: 5px;
    margin-left: 60px;
}

ul.footList > li{
    text-align: center;
    padding: 10px 0px;
}

ul.footList > li > a{
    padding: 12px 30px;
}

ul.footList > li > a:hover{
    background-color: rgba(150,120,120,0.3);
}

ul.footList {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul.footList > li > a    {
    text-decoration: none;
    color: black;
}

section > header > h3   {
    border-bottom: 1px dashed black;
}


.usersList{
    width: 100%;
}

.data   {
    color: red;
}

.article    {
    border-bottom: 1px dashed black;
}

.photo1   {
    float: left;
}

.photo2  {
    float: right;
}
