body    {
    background-color: rgb(214, 214, 209);
    margin: 0;
    padding: 0;
}

.container  {
    background-color: rgb(231, 231, 226);
    width: 95%;
    height: 97%;
    margin: 0 auto;
}

.header {
    height: 5%;
}

.header > li > p {
    margin: 0;
    padding: 0;
    align-content: center;
    font: 15px red;
    font-family: Verdana;
}

.header > p {
    margin: 0;
    padding: 0;
    align-content: center;
    color: red;
    font-size: medium;
    font-family: Verdana;
}

/*nav {*/
    /*height: 5%;*/
/*}*/

.menu   {
    margin: 0;
    align-content: right;
    width: 100%;
    padding:0;
    list-style-type: non
}

ul.menu {
    overflow: hidden;
    background-color: #575757;
    /*position: relative;*/
    padding: 0;
    list-style-type: none;
}

ul.menu > li{
    /*float: left;*/
    /*position: relative;*/
    display: inline-flex;
    /*border: 1px solid grey;*/
}

ul.menu > li > a    {
    /*border: 1px solid grey;*/
    display: block;
    text-decoration: none;
    /*padding: 10px 20px;*/
    padding: 8px;
    color: white;
}

ul.menu > li > a:hover    {
    background-color: rgba(0, 0, 0, 0.13);
}

.userPanel{
    margin: 0;
    height: 95%;
    padding: 0;
}
.leftContainer{
    width: 14%;
    height: 100%;
    float: left;
    border-right: 1px dashed black;
}

.msgItemsContainer{
    height: 100%;
    margin-left: 5px;
    width: 85%;
    float: left;
}
.messagesOrItems{
    margin-bottom: 0;
    margin-right: 5px;
    width: 99%;
    height: 45%;
    border-bottom: 1px solid black;
}

.msgOrItemTopBar{
    height: 13%;
    margin:0;
    padding: 0;
}

.msgOrItemTopBar > h3{
    margin: 5px 0;
}

.msgOrItemTopBarSmall {
    height: 10%;
}

.msgOrItemTopBarSmall > h3 {
    margin: 3px;
}

.msgOrItemList{
    overflow-x: hidden;
    overflow-y: scroll;
    height: 90%;
    margin: 0;
    padding: 0;
}
.itemsAssigned{
    margin-top: 10px;
    height: 45%;
    width: 99%;
    overflow-x: hidden;
    overflow-y: scroll;
}

.itemMsgMenu{
    width: 100%;
    padding:0;
    border: solid 1px black;
    list-style-type: non
}

ul.itemMsgMenu {
    margin: 5px 0px;
    overflow: hidden;
    /*position: relative;*/
    padding: 0;
    list-style-type: none;
}

ul.itemMsgMenu > li{
    margin:0px;
    /*float: left;*/
    /*position: relative;*/
    display: inline-flex;
    /*border: 1px solid grey;*/
}

ul.itemMsgMenu > li > a    {
    /*border: 1px solid grey;*/
    display: block;
    text-decoration: none;
    /*padding: 10px 20px;*/
    padding: 8px;
    color: black;
}

ul.itemMsgMenu > li > a:hover    {
    background-color: rgb(138, 150, 189);
}

.itemByStateBox{
    float: left;
    height: 85%;
    width: 24%;
    margin:5px;
    padding: 0%;
}

.itemByStateBox > h3 {
    margin: 1px;
    padding: 0;
    text-align: center;
}

.itemsByStateList{
    height: 90%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: scroll;
}

.itemOrMsgShort{
    margin: 0px;
    list-style-type: none;
    border: outset #2F2F2F;
}
.itemOrMsgShort > p {
    padding-left: 5px;
    margin-left: 5px;
    margin-top: 0;
    margin-bottom: 1px;
    font-size: small;
}

.itemOrMsgShort > a {
    padding-left: 5px;
    margin-left: 5px;
    margin-top: 0;
    margin-bottom: 3px;
    font-size: small;
}

.itemOrMsg{
    margin: 0px;
    list-style-type: none;
    border: outset #2F2F2F;
}

.itemOrMsg > p {
    padding-left: 5px;
    margin-left: 5px;
    margin-top: 3px;
    margin-bottom: 5px;
    font-size: small;
}

.itemOrMsg > a {
    padding-left: 5px;
    margin-left: 5px;
    margin-top: 0;
    margin-bottom: 3px;
    font-size: small;
}

.bar    {
    width: 200px;
    float:left;
}


h3  {
    margin: 0;
    padding: 0;
}

h1  {
    margin:0;
}

input.login  {
    margin-top: 5px;
    margin-left: 5px;
}

