<div class="leftContainer">
    <h4>${user.id}. ${user.firstName} ${user.lastName}</h4>
    <p>Login: ${user.login}</p>
    <p>email: ${user.email}</p>
    <a href="<c:url value='/edit-${user.id}-user' />">Edit your account </a>
</div>