<%@ taglib uri="http://java.sun.com/jsp/jstl/core" prefix="c"%>

<li class="itemOrMsg" id="message_<c:out value="${message.msg_id}"/>">
    <p>${message.title}</p>
    <p>From: ${message.sender.login}   To: ${message.receiver.login}</p>
    <p>Send: ${message.timestamp}</p>
</li>
