<%@ taglib uri="http://java.sun.com/jsp/jstl/core" prefix="c"%>

    <li class="itemOrMsgShort">
        <p>${item.title}</p>
        <p>Priority: ${item.priority}</p>
        <p>Assigned: ${item.assignedTo.login}</p>
        <p>Created: ${item.createdTime}</p>
        <a href="<c:url value='/user-${user.id}/item-${item.itemId}' />">  View </a>
        <%@include file="../jspf/editAndDeleteItemLinksShownIfUserIsAuthorized.jspf"%>
    </li>
